body {
  cursor: url("/cursor/default.png"), default;
}
a,
button {
  cursor: url("/cursor/pointer.png"), pointer;
}
input[type="text"],
textarea {
  cursor: url("/cursor/text.png"), text;
}
:global-link {
  cursor: url("/cursor/pointer.png"), pointer;
}
button,
[role="button"],
input[type="submit"],
input[type="reset"] {
  cursor: url("/cursor/pointer.png"), pointer;
}
input[type="button"] {
  cursor: url("/cursor/pointer.png"), pointer;
}
input[type="radio"],
input[type="checkbox"],
select,
option {
  cursor: url("/cursor/default.png"), default;
}
iframe {
  cursor: url("/cursor/pointer.png"), pointer;
}
img,
video,
audio {
  cursor: url("/cursor/pointer.png"), pointer;
}
area {
  cursor: url("/cursor/pointer.png"), pointer;
}
table {
  cursor: url("/cursor/default.png"), default;
}
tr,
th,
td {
  cursor: url("/cursor/default.png"), default;
}
abbr,
acronym {
  cursor: url("help-cursor"), help;
}
cite,
dfn,
em,
i,
var {
  cursor: url("/cursor/default.png"), default;
}
strong,
b {
  cursor: url("/cursor/default.png"), default;
}
sub,
sup {
  cursor: url("/cursor/default.png"), default;
}
kbd,
samp,
code,
pre {
  cursor: url("/cursor/text.png"), text;
}
mark,
ins,
del {
  cursor: url("/cursor/default.png"), default;
}
small,
big {
  cursor: url("/cursor/default.png"), default;
}
ul,
ol,
dir,
menu,
dd,
dl {
  cursor: url("/cursor/default.png"), default;
}
dt,
li {
  cursor: url("/cursor/default.png"), default;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: url("/cursor/default.png"), default;
}
p,
blockquote,
pre,
address {
  cursor: url("/cursor/default.png"), default;
}
form {
  cursor: url("/cursor/default.png"), default;
}
fieldset {
  cursor: url("/cursor/default.png"), default;
}
legend {
  cursor: url("/cursor/default.png"), default;
}
button,
input,
textarea {
  cursor: url("/cursor/text.png"), text;
}
button[disabled],
input[disabled],
textarea[disabled],
button[disabled]:hover,
input[disabled]:hover,
textarea[disabled]:hover,
button[disabled]:focus,
input[disabled]:focus,
textarea[disabled]:focus {
  cursor: url("/cursor/not-allowed.png"), not-allowed;
}
button,
input,
optgroup,
select,
textarea {
  cursor: url("/cursor/pointer.png"), pointer;
}
button,
select[multiple],
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: url("/cursor/pointer.png"), pointer;
}
table {
  cursor: url("/cursor/default.png"), default;
}
textarea,
select,
input[type="file"] {
  cursor: url("/cursor/pointer.png"), pointer;
}
input[type="radio"],
input[type="checkbox"] {
  cursor: url("/cursor/default.png"), default;
}
button[disabled],
input[disabled] {
  cursor: url("/cursor/not-allowed.png"), not-allowed;
}
* {
  cursor: url("/cursor/default.png"), default !important;
}
