#footer {
  position: relative;
  background: $light-blue;
  background-attachment: local;
  background-position: bottom;
  background-size: cover;
}
#footer-wrap {
  position: absolute;
  padding: 1.2rem 1rem 1.4rem;
  color: var(--light-grey);
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#footer-wrap a {
  color: var(--light-grey);
}
#footer-wrap a:hover {
  text-decoration: underline;
}
#footer-wrap .footer-separator {
  margin: 0 0.2rem;
}
#footer-wrap .icp-icon {
  padding: 0 4px;
  vertical-align: text-bottom;
  max-height: 1.4em;
  width: auto;
}
/* 页脚半透明 */
#footer {
  background: rgba(255,255,255,0);
  color: #000;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  backdrop-filter: saturate(100%) blur(5px);
}
#footer::before {
  background: rgba(255,255,255,0);
}
#footer #footer-wrap {
  color: var(--font-color);
}
#footer #footer-wrap a {
  color: var(--font-color);
}
